version_7_76_0_F/wsdl.wsdl

<?xml version="1.0" encoding="UTF-8" ?> 
<wsdl:definitions name="VODServiceImportFromCREBackOffice"
    targetNamespace="urn:ec.ep.dit.isp.vodcoresystem.crebo"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="urn:ec.ep.dit.isp.vodcoresystem.crebo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified"
            targetNamespace="urn:ec.ep.dit.isp.vodcoresystem.crebo"
            xmlns:tns="urn:ec.ep.dit.isp.vodcoresystem.crebo"
            xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="updateDebateTitlesResponse">
                <xs:complexContent>
                    <xs:extension base="tns:creBoResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="debateInitialOpenTimeCode"
                                type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="creBoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="errorDetails" type="xs:string"/>
                    <xs:element minOccurs="0" name="status" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateInterventionResponse">
                <xs:complexContent>
                    <xs:extension base="tns:creBoResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="initialOpenTimeCode" type="xs:dateTime"
                            />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="updateGlobalResponse">
                <xs:complexContent>
                    <xs:extension base="tns:creBoResponse">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="updateCreRelevantResponse">
                <xs:complexContent>
                    <xs:extension base="tns:creBoResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="initialOpenTimeCode" type="xs:dateTime"
                            />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="createInterventionResponse">
                <xs:complexContent>
                    <xs:extension base="tns:creBoResponse">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="interventionInitialOpenTimeCode"
                                type="xs:dateTime"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="updateGlobal">
        <wsdl:part name="dataStartTC" type="xsd:string"/>
        <wsdl:part name="dataEndTC" type="xsd:string"/>
        <wsdl:part name="xmlData" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="createIntervention">
        <wsdl:part name="openTimeCode" type="xsd:string"/>
        <wsdl:part name="closeTimeCode" type="xsd:string"/>
        <wsdl:part name="location" type="xsd:string"/>
        <wsdl:part name="speakerPersId" type="xsd:long"/>
        <wsdl:part name="interventionLang" type="xsd:string"/>
        <wsdl:part name="role" type="xsd:string"/>
        <wsdl:part name="debateInitialOpenTC" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="createInterventionResponse">
        <wsdl:part name="return" type="tns:createInterventionResponse"/>
    </wsdl:message>
    <wsdl:message name="updateCreRelevantForIntervention">
        <wsdl:part name="initialOpenTimeCode" type="xsd:string"/>
        <wsdl:part name="isCreRelevant" type="xsd:boolean"/>
    </wsdl:message>
    <wsdl:message name="updateInterventionResponse">
        <wsdl:part name="return" type="tns:updateInterventionResponse"/>
    </wsdl:message>
    <wsdl:message name="updateDebateTitles">
        <wsdl:part name="debateInitialOpenTimeCode" type="xsd:string"/>
        <wsdl:part name="title_fr" type="xsd:string"/>
        <wsdl:part name="title_bg" type="xsd:string"/>
        <wsdl:part name="title_cs" type="xsd:string"/>
        <wsdl:part name="title_da" type="xsd:string"/>
        <wsdl:part name="title_de" type="xsd:string"/>
        <wsdl:part name="title_en" type="xsd:string"/>
        <wsdl:part name="title_el" type="xsd:string"/>
        <wsdl:part name="title_es" type="xsd:string"/>
        <wsdl:part name="title_et" type="xsd:string"/>
        <wsdl:part name="title_fi" type="xsd:string"/>
        <wsdl:part name="title_hu" type="xsd:string"/>
        <wsdl:part name="title_it" type="xsd:string"/>
        <wsdl:part name="title_lt" type="xsd:string"/>
        <wsdl:part name="title_lv" type="xsd:string"/>
        <wsdl:part name="title_mt" type="xsd:string"/>
        <wsdl:part name="title_nl" type="xsd:string"/>
        <wsdl:part name="title_pl" type="xsd:string"/>
        <wsdl:part name="title_pt" type="xsd:string"/>
        <wsdl:part name="title_ro" type="xsd:string"/>
        <wsdl:part name="title_sk" type="xsd:string"/>
        <wsdl:part name="title_sl" type="xsd:string"/>
        <wsdl:part name="title_sv" type="xsd:string"/>
        <wsdl:part name="title_ga" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="updateIntervention">
        <wsdl:part name="initialOpenTimeCode" type="xsd:string"/>
        <wsdl:part name="speakerPersId" type="xsd:long"/>
        <wsdl:part name="interventionLang" type="xsd:string"/>
        <wsdl:part name="role" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="updateDebateTitlesResponse">
        <wsdl:part name="return" type="tns:updateDebateTitlesResponse"/>
    </wsdl:message>
    <wsdl:message name="updateCreRelevantForInterventionResponse">
        <wsdl:part name="return" type="tns:updateCreRelevantResponse"/>
    </wsdl:message>
    <wsdl:message name="updateGlobalResponse">
        <wsdl:part name="return" type="tns:updateGlobalResponse"/>
    </wsdl:message>
    <wsdl:portType name="VODServiceImportFromCREBackOfficeEndpoint">
        <wsdl:operation name="updateDebateTitles">
            <wsdl:input message="tns:updateDebateTitles" name="updateDebateTitles"/>
            <wsdl:output message="tns:updateDebateTitlesResponse" name="updateDebateTitlesResponse"
            />
        </wsdl:operation>
        <wsdl:operation name="updateIntervention">
            <wsdl:input message="tns:updateIntervention" name="updateIntervention"/>
            <wsdl:output message="tns:updateInterventionResponse" name="updateInterventionResponse"
            />
        </wsdl:operation>
        <wsdl:operation name="updateGlobal">
            <wsdl:input message="tns:updateGlobal" name="updateGlobal"/>
            <wsdl:output message="tns:updateGlobalResponse" name="updateGlobalResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateCreRelevantForIntervention">
            <wsdl:input message="tns:updateCreRelevantForIntervention"
                name="updateCreRelevantForIntervention"/>
            <wsdl:output message="tns:updateCreRelevantForInterventionResponse"
                name="updateCreRelevantForInterventionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createIntervention">
            <wsdl:input message="tns:createIntervention" name="createIntervention"/>
            <wsdl:output message="tns:createInterventionResponse" name="createInterventionResponse"
            />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="VODServiceImportFromCREBackOfficeSoapBinding"
        type="tns:VODServiceImportFromCREBackOfficeEndpoint">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="updateDebateTitles">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="updateDebateTitles">
                <soap:body namespace="urn:ec.ep.dit.isp.vodcoresystem.crebo" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateDebateTitlesResponse">
                <soap:body namespace="urn:ec.ep.dit.isp.vodcoresystem.crebo" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateIntervention">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="updateIntervention">
                <soap:body namespace="urn:ec.ep.dit.isp.vodcoresystem.crebo" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateInterventionResponse">
                <soap:body namespace="urn:ec.ep.dit.isp.vodcoresystem.crebo" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateGlobal">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="updateGlobal">
                <soap:body namespace="urn:ec.ep.dit.isp.vodcoresystem.crebo" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateGlobalResponse">
                <soap:body namespace="urn:ec.ep.dit.isp.vodcoresystem.crebo" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateCreRelevantForIntervention">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="updateCreRelevantForIntervention">
                <soap:body namespace="urn:ec.ep.dit.isp.vodcoresystem.crebo" use="literal"/>
            </wsdl:input>
            <wsdl:output name="updateCreRelevantForInterventionResponse">
                <soap:body namespace="urn:ec.ep.dit.isp.vodcoresystem.crebo" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createIntervention">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input name="createIntervention">
                <soap:body namespace="urn:ec.ep.dit.isp.vodcoresystem.crebo" use="literal"/>
            </wsdl:input>
            <wsdl:output name="createInterventionResponse">
                <soap:body namespace="urn:ec.ep.dit.isp.vodcoresystem.crebo" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="VODServiceImportFromCREBackOffice">
        <wsdl:port binding="tns:VODServiceImportFromCREBackOfficeSoapBinding"
            name="VODServiceImportFromCREBackOfficePort">
            <soap:address
                location="http://www.cremetadv.ep.parl.union.eu/vod-crebo-web_V1_3/ws/VODServiceImportFromCREBackOfficeAddress"
            />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
